
.form-wrap {
    width: 500px;
    height: 190px;
    .form-control {        
        width: 78%;
        height: 50px;
        border-radius: 4%;
        padding: 10px    
    }
    .form-group {
        margin: 14px;
    }
    textarea {
    width: 360px;
    height: 203px;
    border-radius: 1%;
    padding: 10px
    }
}
.ctn-wrap {
    margin-top: 16px;
.buttons-wrap {
    
    padding-right: 72px;
    margin-top: 184px;
    .ctn-buttons {                
    width: 100px;
    height: 50px;
    border-right: 5px;
    background-color: #5e84a3;
    border-radius: 5px;
    margin: 40px 10px;
    color: white;
    &:hover {
        cursor: pointer;
        background: #496692;
    }
  }
}
}
#form-dialog-title {
 padding-top: 0;
 margin: 26px 0px -34px 53px;
}

@media (max-width: 908px) {
    .buttons-wrap {
        padding-right: 0;
    }

    textarea {
    height: 106px;
    width: 52%
    }
}