.form-wrap {
    width: 500px;
    height: 190px;
    .form-control {        
        width: 78%;
        height: 50px;
        margin-left: 10%;
    }
}
.buttons-wrap {
    padding-right: 72px;
.ctn-buttons {
    width: 100px;
    height: 50px;
    border-right: 5px;
    background-color: #5e84a3;
    border-radius: 5px;
    margin: 10px;
    color: white;
  }
}

