@import "mixins.less";

.main-container {
  max-width: 100vw;
  #flip {
    color: white;
    background: #3c6aad;
    width: 100%;
    position: fixed;
    display: none;
    height: 40px;
    border-bottom: 2px solid white;
    z-index: 1;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    background: #3c6aad;
    width: 100%;
    height: 85px;
    opacity: 0.9;
    border-bottom: 2px solid rgb(112, 129, 153);
    position: fixed;
    z-index: 1;

    ul {
      font-family: "Raleway", sans-serif;
      display: flex;
      margin: 40px;
      color: white;
      font-size: 1.4rem;
      justify-content: space-between;
      list-style: none;
      li {
        display: flex;
        justify-content: space-between;
        .home-button {
          position: absolute;
          border: 1px solid;
          height: 24px;
          width: 111px;
          left: 20%;
          top: 28%;
          font-size: 0.9rem;
          background: white;
          color: #5178b5;
          padding: 10px 0 0 9px;
          border-radius: 7px;
          font-weight: 600;
          &:hover {
            border: 2px solid lightgray;
          }
        }
      }
      a {
        margin: 0 30px;
        color: white;
        text-decoration: none;
        transition: all 1s ease;
      }
      :hover {
        color: #79838f;
        cursor: pointer;
        padding-top: 2px;
      }
    }
  }
  .section-wrap-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .about-me-wrap {
        margin-top: 131px;
        .about-inner-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          .navy-line {
            .navy-line(@margin-bottom: 0px;);
          }
          .about-me {
            font-size: 2rem;
            color: #676a6c;
            padding-top: 16px;
          }
        }
      }
      .profile-image-wrap {
        display: flex;
        align-items: center;
        .fontawesome-left {
          padding-top: 64px;
        }
        .fontawesome-right {
          padding-top: 64px;
        }
        .fab {
          color: grey;
          font-size: 50px;
          margin: 10% 40px 20%;
          opacity: 0.3;
        }
        .profile-image {
          margin-top: 40px;
          border-radius: 50%;
          height: 150px;
          width: 150px;
        }
      }
      .my-name {
        font-size: 2rem;
        margin-top: 8px;
        color: #676a6c;
      }
      .social-media {
        ul {
          display: flex;
          i {
            font-size: 0.8rem;
            border-radius: 50%;
            background-color: #0f6ee6;
            color: white;
            width: 56%;
            height: 20px;
            text-align: center;
            padding-top: 8px;
            opacity: 0.3;
            margin: 20px;
          }
        }
      }
      .bio {
        width: 585px;
        text-align: center;
        color: #aeaeae;
      }
    }
  }
  // .containern {
  //   //   width: 200px;
  //     .animated {
  //       // background-image: url(/assets/img/dave.jpg);
  //       // background-repeat: no-repeat;
  //       // background-position: left top;
  //       padding-top:95px;
  //       margin-bottom:60px;
  //       -webkit-animation-duration: 1s;
  //       animation-duration: 1s;
  //       -webkit-animation-fill-mode: both;
  //       animation-fill-mode: both;
  //    }

  //    @-webkit-keyframes rotateInDownLeft {
  //       0% {
  //          -webkit-transform-origin: left bottom;
  //          -webkit-transform: rotate(-90deg);
  //          opacity: 0;
  //       }
  //       100% {
  //          -webkit-transform-origin: left bottom;
  //          -webkit-transform: rotate(0);
  //          opacity: 1;
  //       }
  //    }

  //    @keyframes rotateInDownLeft {
  //       0% {
  //          transform-origin: left bottom;
  //          transform: rotate(-90deg);
  //          opacity: 0;
  //       }
  //       100% {
  //          transform-origin: left bottom;
  //          transform: rotate(0);
  //          opacity: 1;
  //       }
  //    }

  //    .rotateInDownLeft {
  //       -webkit-animation-name: rotateInDownLeft;
  //       animation-name: rotateInDownLeft;
  //    }
  // }
  .section-wrap-career {
    z-index: 0;
    margin-top: 40px;
    background: #f4f4f4;
    height: 904px;
    .vertical-container {
      left: 50.2%;
      height: 75%;
      width: 4px;
      position: absolute;
      background: #e7eaec;
      margin-top: 47px;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin: 0 auto;
      width: 100%;
      max-width: 1170px;
      .navy-line {
        .navy-line();
        position: absolute;
        left: 47.5%;
        margin-top: 36px;
      }
      .my-career {
        font-size: 30px;
        font-weight: 200;
        left: 50%;
        left: 45%;
        color: #676a6c;
        position: relative;
        padding-top: 50px;
      }
      .lambda {
        margin-top: 40px;
        .left {
          position: relative;
          width: 41%;
          background: white;
          margin-left: 0;
          padding: 1.6em;
          border-radius: 3px;
          color: #aeaeae;
          box-shadow: 1px 1px 2px 0px;
          h2 {
            font-size: 18px;
            margin-top: 5px;
            font-weight: 400;
          }
          .date-line {
            position: absolute;
            left: 120%;
            top: 2px;
            font-size: 14px;
            width: 100%;
          }
        }
        .icon-wrapper {
          .plus-icon-wrapper();
          i {
            .plus-icons();
          }
        }
      }
      .lambda-test {
        .left {
          position: relative;
          width: 41%;
          background: white;
          margin-left: 0;
          padding: 1.6em;
          border-radius: 3px;
          color: #aeaeae;
          box-shadow: 1px 1px 2px 0px;
          margin-top: 217px;
          h2 {
            font-size: 18px;
            margin-top: 5px;
            font-weight: 400;
          }
          .date-line {
            position: absolute;
            left: 120%;
            top: 2px;
            font-size: 14px;
            width: 100%;
          }
        }
        .icon-wrapper {
          .plus-icon-wrapper();
          i {
            .plus-icons();
          }
        }
      }

      .lambda-left {
        margin-top: 40px;
        .left {
          position: relative;
          width: 40%;
          background: white;
          margin-left: 0;
          padding: 1.6em;
          border-radius: 3px;
          color: #aeaeae;
          box-shadow: 1px 1px 2px 0px;
          float: right;
          h2 {
            font-size: 18px;
            margin-top: 5px;
            font-weight: 400;
          }
          .date-line {
            position: absolute;
            left: -45%;
            top: 2px;
            font-size: 14px;
            width: 100%;
          }
        }
        .icon-wrapper {
          .plus-icon-wrapper();
          i {
            .plus-icons();
          }
        }
      }
    }
  }
  .section-wrap-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    .navy-line {
      .navy-line();
    }
    .skills-header {
      font-size: 2rem;
      color: #676a6c;
    }
    .navy-line {
      .navy-line();
      margin-top: 40px;
    }
  }
  .section-wrap-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    .navy-line {
      .navy-line();
    }
    margin-top: 40px;
    height: 452px;
    background: #f4f4f4;
    .domain-link {
      margin: 20px;
      text-decoration: none;
      color: #676a6c;
    }
    .repo-link {
      margin: 5px;
      text-decoration: none;
      color: #676a6c;
      &:hover {
        color: #0f6ee6;
      }
    }
    .projects-header-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      .projects-header {
        font-size: 2rem;
        color: #676a6c;
      }
    }
    .projects-wrap {
      display: flex;
      justify-content: center;
      .business-wrap {
        .projects-card-wrap();
        .project-description {
          margin: 10px;
        }
        .buttons-wrap {
          margin: 10px 0 0 10px;
          button {
            .buttons();
          }
        }
      }
      .current-affairs-wrap {
        .projects-card-wrap();
        margin-top: 178px;
        .project-description {
          margin: 10px;
        }
        .buttons-wrap {
          margin: 10px 0 0 10px;
          button {
            .buttons();
          }
        }
      }
      .notes-wrap {
        .projects-card-wrap();
        .project-description {
          margin: 10px;
        }
        .buttons-wrap {
          margin: 10px 0 0 10px;
          button {
            .buttons();
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    .social-media-footer {
      ul {
        display: flex;
        padding-right: 15px;
        i {
          font-size: 0.8rem;
          border-radius: 50%;
          background-color: #0f6ee6;
          color: white;
          width: 56%;
          height: 20px;
          text-align: center;
          padding-top: 8px;
          opacity: 0.3;
          margin: 20px;
        }
      }
    }
  }
  @media (max-width: 1371px) {
    .section-wrap-career {
      .vertical-container {
        left: 50.6%;
      }
    }
  }
  @media (max-width: 1170px) {
    transition: all 1s ease;
    nav {
      ul {
        li {
          .home-button {
            left: 11%;
          }
        }
      }
    }
    .section-wrap-career {
      height: 1038px;
      .vertical-container {
        left: 12.2%;
        height: 90%;
      }
      .container {
        transition: all 1s ease;
        width: 65%;
        .lambda {
          .left {
            width: 89%;
            left: 6%;
            .date-line {
              position: static;
            }
          }
          .icon-wrapper {
            left: 10%;
          }
        }
        .lambda-left {
          .left {
            width: 89%;
            left: 2%;
            .date-line {
              position: static;
            }
          }
          .icon-wrapper {
            left: 10%;
          }
        }
        .lambda-test {
          .left {
            width: 88%;
            left: 6%;
            .date-line {
              position: static;
            }
          }
          .icon-wrapper {
            left: 10%;
          }
        }
      }
    }
    .section-wrap-projects {
      .projects-wrap {
        .notes-wrap {
          margin: 3%;
        }
        .current-affairs-wrap {
          margin: 3%;
          margin-top: 178px;
        }
        .business-wrap {
          margin: 3%;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    transition: all 1s ease;

    .section-wrap-career {
      height: 1100px;

      .vertical-container {
        left: 13.2%;
      }
      .container {
        .lambda-left {
          .left {
            left: 6%;
          }
        }
      }
    }
    .skills-image {
      width: 90%;
      transition: all 1s ease;
    }
    .section-wrap-projects {
      transition: all 1s ease;
      height: 363px;
      .projects-wrap {
        transition: all 1s ease;
        width: 220px;

        .business-wrap {
          transition: all 1s ease;
          height: 218px;
          margin: 6%;
          .project-image {
            height: 110px;
            width: 220px;
          }
        }
        .current-affairs-wrap {
          transition: all 1s ease;
          width: 220px;
          height: 218px;
          margin: 6%;
          margin-top: 100px;
          .project-image {
            height: 110px;
            width: 220px;
          }
        }
        .notes-wrap {
          transition: all 1s ease;
          height: 218px;
          margin: 6%;
          .project-image {
            height: 110px;
            width: 220px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {

     .section-wrap-bio {
     .container  {
      .profile-image-wrap .fab {
      color: grey;
      font-size: 50px;
      margin: 10% 27px 20%;
      opacity: 0.3;
    }
  }
    }
    .projects-header-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 96px;
    }
    .main-container {
      .section-wrap-career {
        height: 1117px;
      }
      .section-wrap-skills {
        height: 306px;
        width: 100%;
      }
    }
    .section-wrap-projects {
      height: 920px;
      padding: 40px 10% 0 0;

      .projects-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .business-wrap {
          .projects-card-wrap(@height: 254px);
          .project-image {
            height: 152px;
            width: 291px;
          }
        }
        .current-affairs-wrap {
          margin-top: 0;
          .projects-card-wrap(@height: 254px);
          .project-image {
            height: 152px;
            width: 291px;
          }
        }
        .notes-wrap {
          .projects-card-wrap(@height: 254px);
          .project-image {
            height: 152px;
            width: 291px;
          }
        }
      }
    }
    p {
      font-size: 19px;
    }
    #flip {
      display: flex;
      align-items: center;
      padding: 5px;
      img {
        cursor: pointer;
      }
      h4 {
        margin-left: 6px;
        font-size: 0.8rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    #nav {
      width: 100%;
      height: 8%;
      margin-top: 40px;
      display: none;
    }
    nav {
      font-size: 17px;
      ul {
        li {
          .home-button {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 545x) {
    .main-container .section-wrap-career {
      height: 1162px;
    }
  }
  @media (max-width: 520x) {
    .main-container {
      .section-wrap-career {
        height: 1160px;
      }
    }
  }
  @media (max-width: 375px) {
    max-width: 100%;
    text-align: center;   
    .section-wrap-career {
      height:  1348px;
    }

    .section-wrap-skills {
      height: 244px;
      width: 100%;
    }
  }
}
