.main-container {
    max-width: 100vw;
    nav {
      display: flex;
      justify-content: flex-end;
      background: #3c6aad;
      width: 100%;
      opacity: 0.9;
      border-bottom: 2px solid rgb(112, 129, 153);
      position: fixed;
      z-index: 1;
  
      ul {
        font-family: "Raleway", sans-serif;
        display: flex;
        margin: 40px;
        color: white;
        font-size: 1.4rem;
        justify-content: space-between;
        list-style: none;
        li {
          display: flex;
          justify-content: space-between;
        }
        a {
          margin: 0 30px;
          color: white;
          text-decoration: none;
        }
        :hover {
          color: rgb(112, 111, 119);
        }
      }
    }
    .section-wrap-bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      .container {
        max-width: 884px;
        width: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-me-wrap {
          margin-top: 131px;
          .navy-line {
            width: 102px;
            position: absolute;
            left: 47.2%;
            border-top: 3px solid #0f6ee6;
          }
          .about-me {
            font-size: 2rem;
            color: #676a6c;
            padding-top: 16px;
            position: relative;
          }
        }
        .temp {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          .fontawesome-left {
            padding-top: 64px;
          }
          .fontawesome-right {
            padding-top: 64px;
          }
          .fab {
            color: grey;
            font-size: 50px;
            margin: 10% 40px 20%;
            opacity: 0.3;
          }
          .profile-image {
            margin-top: 40px;
            border-radius: 50%;
  
            height: 150px;
            width: 150px;
          }
        }
        .my-name {
          font-size: 2rem;
          margin-top: 8px;
          color: #676a6c;
        }
        .social-media {
          ul {
            display: flex;
            i {
              font-size: 0.8rem;
              border-radius: 50%;
              background-color: #0f6ee6;
              color: white;
              width: 56%;
              height: 20px;
              text-align: center;
              padding-top: 8px;
              opacity: 0.3;
              margin: 20px;
            }
          }
        }
        .bio {
          color: #aeaeae;
        }
      }
    }
    
  }
  