.form-wrap {
  width: 500px;
  height: 190px;
}
.form-wrap .form-control {
  width: 78%;
  height: 50px;
  margin-left: 10%;
}
.form-wrap .form-group {
  margin: 14px;
}
.buttons-wrap {
  padding-right: 72px;
}
.buttons-wrap .ctn-buttons {
  width: 100px;
  height: 50px;
  border-right: 5px;
  background-color: #5e84a3;
  border-radius: 5px;
  margin: 40px 10px;
  color: white;
}
.buttons-wrap .ctn-buttons:hover {
  cursor: pointer;
  background: #496692;
}
#form-dialog-title {
  padding-top: 0;
  margin: 26px 0px -34px 53px;
}
