.main-container {
  max-width: 100vw;
}
.main-container #flip {
  color: white;
  background: #3c6aad;
  width: 100%;
  position: fixed;
  display: none;
  height: 40px;
  border-bottom: 2px solid white;
  z-index: 1;
}
.main-container nav {
  display: flex;
  justify-content: flex-end;
  background: #3c6aad;
  width: 100%;
  height: 85px;
  opacity: 0.9;
  border-bottom: 2px solid #708199;
  position: fixed;
  z-index: 1;
}
.main-container nav ul {
  font-family: "Raleway", sans-serif;
  display: flex;
  margin: 40px;
  color: white;
  font-size: 1.4rem;
  justify-content: space-between;
  list-style: none;
}
.main-container nav ul li {
  display: flex;
  justify-content: space-between;
}
.main-container nav ul li .home-button {
  position: absolute;
  border: 1px solid;
  height: 24px;
  width: 111px;
  left: 20%;
  top: 28%;
  font-size: 0.9rem;
  background: white;
  color: #5178b5;
  padding: 10px 0 0 9px;
  border-radius: 7px;
  font-weight: 600;
}
.main-container nav ul li .home-button:hover {
  border: 2px solid lightgray;
}
.main-container nav ul a {
  margin: 0 30px;
  color: white;
  text-decoration: none;
  transition: all 1s ease;
}
.main-container nav ul :hover {
  color: #79838f;
  cursor: pointer;
  padding-top: 2px;
}
.main-container .section-wrap-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container .about-me-wrap {
  margin-top: 131px;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap .navy-line {
  width: 102px;
  border-top: 3px solid #0f6ee6;
  margin-bottom: 0px;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap .about-me {
  font-size: 2rem;
  color: #676a6c;
  padding-top: 16px;
}
.main-container .section-wrap-bio .container .profile-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fontawesome-left {
  padding-top: 64px;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fontawesome-right {
  padding-top: 64px;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fab {
  color: grey;
  font-size: 50px;
  margin: 10% 40px 20%;
  opacity: 0.3;
}
.main-container .section-wrap-bio .container .profile-image-wrap .profile-image {
  margin-top: 40px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.main-container .section-wrap-bio .container .my-name {
  font-size: 2rem;
  margin-top: 8px;
  color: #676a6c;
}
.main-container .section-wrap-bio .container .social-media ul {
  display: flex;
}
.main-container .section-wrap-bio .container .social-media ul i {
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #0f6ee6;
  color: white;
  width: 56%;
  height: 20px;
  text-align: center;
  padding-top: 8px;
  opacity: 0.3;
  margin: 20px;
}
.main-container .section-wrap-bio .container .bio {
  color: #aeaeae;
}
.main-container .section-wrap-career {
  z-index: 0;
  margin-top: 40px;
  background: #f4f4f4;
  height: 904px;
}
.main-container .section-wrap-career .vertical-container {
  left: 50.2%;
  height: 75%;
  width: 4px;
  position: absolute;
  background: #e7eaec;
  margin-top: 47px;
}
.main-container .section-wrap-career .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
.main-container .section-wrap-career .container .navy-line {
  width: 102px;
  border-top: 3px solid #0f6ee6;
  margin-bottom: 14px;
  position: absolute;
  left: 47.5%;
  margin-top: 36px;
}
.main-container .section-wrap-career .container .my-career {
  font-size: 30px;
  font-weight: 200;
  left: 50%;
  left: 45%;
  color: #676a6c;
  position: relative;
  padding-top: 50px;
}
.main-container .section-wrap-career .container .lambda {
  margin-top: 40px;
}
.main-container .section-wrap-career .container .lambda .left {
  position: relative;
  width: 41%;
  background: white;
  margin-left: 0;
  padding: 1.6em;
  border-radius: 3px;
  color: #aeaeae;
  box-shadow: 1px 1px 2px 0px;
}
.main-container .section-wrap-career .container .lambda .left h2 {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 400;
}
.main-container .section-wrap-career .container .lambda .left .date-line {
  position: absolute;
  left: 120%;
  top: 2px;
  font-size: 14px;
  width: 100%;
}
.main-container .section-wrap-career .container .lambda .icon-wrapper {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 49%;
  background-color: #3385ff;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
}
.main-container .section-wrap-career .container .lambda .icon-wrapper i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 10%;
  font-size: 19px;
}
.main-container .section-wrap-career .container .lambda-test .left {
  position: relative;
  width: 41%;
  background: white;
  margin-left: 0;
  padding: 1.6em;
  border-radius: 3px;
  color: #aeaeae;
  box-shadow: 1px 1px 2px 0px;
  margin-top: 217px;
}
.main-container .section-wrap-career .container .lambda-test .left h2 {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 400;
}
.main-container .section-wrap-career .container .lambda-test .left .date-line {
  position: absolute;
  left: 120%;
  top: 2px;
  font-size: 14px;
  width: 100%;
}
.main-container .section-wrap-career .container .lambda-test .icon-wrapper {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 49%;
  background-color: #3385ff;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
}
.main-container .section-wrap-career .container .lambda-test .icon-wrapper i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 10%;
  font-size: 19px;
}
.main-container .section-wrap-career .container .lambda-left {
  margin-top: 40px;
}
.main-container .section-wrap-career .container .lambda-left .left {
  position: relative;
  width: 40%;
  background: white;
  margin-left: 0;
  padding: 1.6em;
  border-radius: 3px;
  color: #aeaeae;
  box-shadow: 1px 1px 2px 0px;
  float: right;
}
.main-container .section-wrap-career .container .lambda-left .left h2 {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 400;
}
.main-container .section-wrap-career .container .lambda-left .left .date-line {
  position: absolute;
  left: -45%;
  top: 2px;
  font-size: 14px;
  width: 100%;
}
.main-container .section-wrap-career .container .lambda-left .icon-wrapper {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 49%;
  background-color: #3385ff;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
}
.main-container .section-wrap-career .container .lambda-left .icon-wrapper i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 10%;
  font-size: 19px;
}
.main-container .section-wrap-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-skills .navy-line {
  width: 102px;
  border-top: 3px solid #0f6ee6;
  margin-bottom: 14px;
  margin-top: 40px;
}
.main-container .section-wrap-skills .skills-header {
  font-size: 2rem;
  color: #676a6c;
}
.main-container .section-wrap-skills .navy-line {
  width: 102px;
  border-top: 3px solid #0f6ee6;
  margin-bottom: 14px;
  margin-top: 40px;
}
.main-container .section-wrap-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 40px;
  height: 452px;
  background: #f4f4f4;
}
.main-container .section-wrap-projects .navy-line {
  width: 102px;
  border-top: 3px solid #0f6ee6;
  margin-bottom: 14px;
}
.main-container .section-wrap-projects .domain-link {
  margin: 20px;
  text-decoration: none;
  color: #676a6c;
}
.main-container .section-wrap-projects .repo-link {
  margin: 5px;
  text-decoration: none;
  color: #676a6c;
}
.main-container .section-wrap-projects .repo-link:hover {
  color: #0f6ee6;
}
.main-container .section-wrap-projects .projects-header {
  font-size: 2rem;
  color: #676a6c;
}
.main-container .section-wrap-projects .projects-wrap {
  display: flex;
  justify-content: center;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap button:hover {
  cursor: pointer;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
  margin-top: 178px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap button:hover {
  cursor: pointer;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap button:hover {
  cursor: pointer;
}
.main-container .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.main-container .footer .social-media-footer ul {
  display: flex;
  padding-right: 15px;
}
.main-container .footer .social-media-footer ul i {
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #0f6ee6;
  color: white;
  width: 56%;
  height: 20px;
  text-align: center;
  padding-top: 8px;
  opacity: 0.3;
  margin: 20px;
}
@media (max-width: 1371px) {
  .main-container .section-wrap-career .vertical-container {
    left: 50.6%;
  }
}
@media (max-width: 1170px) {
  .main-container {
    transition: all 1s ease;
  }
  .main-container nav ul li .home-button {
    left: 11%;
  }
  .main-container .section-wrap-career {
    height: 1038px;
  }
  .main-container .section-wrap-career .vertical-container {
    left: 12.2%;
    height: 90%;
  }
  .main-container .section-wrap-career .container {
    transition: all 1s ease;
    width: 65%;
  }
  .main-container .section-wrap-career .container .lambda .left {
    width: 89%;
    left: 6%;
  }
  .main-container .section-wrap-career .container .lambda .left .date-line {
    position: static;
  }
  .main-container .section-wrap-career .container .lambda .icon-wrapper {
    left: 10%;
  }
  .main-container .section-wrap-career .container .lambda-left .left {
    width: 89%;
    left: 2%;
  }
  .main-container .section-wrap-career .container .lambda-left .left .date-line {
    position: static;
  }
  .main-container .section-wrap-career .container .lambda-left .icon-wrapper {
    left: 10%;
  }
  .main-container .section-wrap-career .container .lambda-test .left {
    width: 88%;
    left: 6%;
  }
  .main-container .section-wrap-career .container .lambda-test .left .date-line {
    position: static;
  }
  .main-container .section-wrap-career .container .lambda-test .icon-wrapper {
    left: 10%;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    margin: 3%;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    margin: 3%;
    margin-top: 178px;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    margin: 3%;
  }
}
@media (max-width: 1000px) {
  .main-container {
    transition: all 1s ease;
  }
  .main-container .section-wrap-career {
    height: 1100px;
  }
  .main-container .section-wrap-career .vertical-container {
    left: 13.2%;
  }
  .main-container .section-wrap-career .container .lambda-left .left {
    left: 6%;
  }
  .main-container .skills-image {
    width: 90%;
    transition: all 1s ease;
  }
  .main-container .section-wrap-projects {
    transition: all 1s ease;
    height: 363px;
  }
  .main-container .section-wrap-projects .projects-wrap {
    transition: all 1s ease;
    width: 220px;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    transition: all 1s ease;
    height: 218px;
    margin: 6%;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap .project-image {
    height: 110px;
    width: 220px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    transition: all 1s ease;
    width: 220px;
    height: 218px;
    margin: 6%;
    margin-top: 100px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .project-image {
    height: 110px;
    width: 220px;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    transition: all 1s ease;
    height: 218px;
    margin: 6%;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap .project-image {
    height: 110px;
    width: 220px;
  }
}
@media (max-width: 768px) {
  .main-container .projects-header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 96px;
  }
  .main-container .main-container .section-wrap-career {
    height: 1117px;
  }
  .main-container .main-container .section-wrap-skills {
    height: 306px;
    width: 100%;
  }
  .main-container .section-wrap-projects {
    height: 920px;
    padding: 40px 10% 0 0;
  }
  .main-container .section-wrap-projects .projects-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    margin-top: 0;
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container p {
    font-size: 19px;
  }
  .main-container #flip {
    display: block;
  }
  .main-container #nav {
    width: 100%;
    height: 8%;
    margin-top: 40px;
    display: none;
  }
  .main-container nav {
    font-size: 17px;
  }
  .main-container nav ul li .home-button {
    display: none;
  }
}
@media (max-width: 545x) {
  .main-container .main-container .section-wrap-career {
    height: 1162px;
  }
}
@media (max-width: 520x) {
  .main-container .main-container .section-wrap-career {
    height: 1160px;
  }
}
@media (max-width: 375px) {
  .main-container {
    max-width: 100%;
  }
  .main-container .section-wrap-career {
    height: 1290px;
  }
  .main-container .section-wrap-skills {
    height: 244px;
    width: 100%;
  }
}
