html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right, rgba(169, 169, 169, 0.5), rgba(169, 169, 169, 0.5)), url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container {
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container #flip {
  color: white;
  background: #3c6aad;
  width: 100%;
  position: fixed;
  display: none;
  height: 40px;
  border-bottom: 2px solid white;
  z-index: 1;
}
.main-container nav {
  display: flex;
  justify-content: flex-end;
  background: #5e84a3;
  width: 65%;
  height: 85px;
  opacity: 0.9;
  border-bottom: 2px solid #708199;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 2px 7px -1px;
}
.main-container nav ul {
  display: flex;
  margin: 35px 122px;
  color: white;
  font-size: 1.4rem;
  justify-content: space-between;
  list-style: none;
}
.main-container nav ul li {
  display: flex;
  justify-content: space-between;
}
.main-container nav ul li .home-button {
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 1.4rem;
  text-align: center;
  color: whiet;
  font-weight: 600;
}
.main-container nav ul li .home-button:hover {
  cursor: pointer;
}
.main-container nav ul a {
  margin: 0 30px;
  color: white;
  text-decoration: none;
  transition: all 1s ease;
  font-size: 1.1rem;
}
.main-container nav ul :hover {
  color: #074a9c;
  cursor: pointer;
  padding-top: 2px;
}
.main-container .section-wrap-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container .about-me-wrap {
  margin-top: 131px;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap .navy-line {
  width: 102px;
  border-top: 3px solid #3c6aad;
  margin-bottom: 0px;
}
.main-container .section-wrap-bio .container .about-me-wrap .about-inner-wrap .about-me {
  font-size: 2rem;
  color: #545a5f;
  padding-top: 16px;
}
.main-container .section-wrap-bio .container .profile-image-wrap {
  display: flex;
  align-items: center;
  margin: 27px 1.7% 0 0;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fontawesome-left {
  display: flex;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fontawesome-right {
  display: flex;
}
.main-container .section-wrap-bio .container .profile-image-wrap .fab {
  color: lightgrey;
  font-size: 50px;
  margin: 10% 40px 20%;
}
.main-container .section-wrap-bio .container .profile-image-wrap .profile-image {
  border-radius: 8%;
  height: 150px;
  width: 150px;
}
.main-container .section-wrap-bio .container .name-and-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-bio .container .name-and-social-media .my-name {
  font-size: 2rem;
  margin-top: 8px;
  color: #545a5f;
}
.main-container .section-wrap-bio .container .name-and-social-media .social-media ul {
  display: flex;
  padding-left: 0;
  margin-left: -16px;
}
.main-container .section-wrap-bio .container .name-and-social-media .social-media ul i {
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #3c6aad;
  color: white;
  width: 56%;
  height: 1.7rem;
  text-align: center;
  padding-top: 8px;
  margin: 20px;
}
.main-container .section-wrap-bio .container .name-and-social-media .social-media ul i:hover {
  background-color: #527eaa;
}
.main-container .section-wrap-bio .container .bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  width: 56%;
  margin-top: 12px;
}
.main-container .section-wrap-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-skills .navy-line {
  width: 102px;
  border-top: 3px solid #3c6aad;
  margin-bottom: 14px;
  margin-top: 28px;
}
.main-container .section-wrap-skills .skils-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;
  width: 80%;
}
.main-container .section-wrap-skills .skils-images .image-wrap {
  width: 100px;
  height: 100px;
  background: white;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
  border-radius: 10%;
}
.main-container .section-wrap-skills .skils-images .image-wrap .skills-image {
  width: 74px;
  height: 70px;
  margin: 3px;
  opacity: 0.7;
}
.main-container .section-wrap-skills .skills-header {
  font-size: 2rem;
  color: #545a5f;
}
.main-container .section-wrap-skills .navy-line {
  width: 102px;
  border-top: 3px solid #3c6aad;
  margin-bottom: 14px;
  margin-top: 28px;
}
.main-container .section-wrap-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 40px;
  background: #f4f4f4;
}
.main-container .section-wrap-projects .navy-line {
  width: 102px;
  border-top: 3px solid #3c6aad;
  margin-bottom: 14px;
}
.main-container .section-wrap-projects .domain-link {
  margin: 20px;
  text-decoration: none;
  color: #676a6c;
}
.main-container .section-wrap-projects .repo-link {
  margin: 5px;
  text-decoration: none;
  color: #676a6c;
}
.main-container .section-wrap-projects .repo-link:hover {
  color: #3c6aad;
}
.main-container .section-wrap-projects .projects-header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .section-wrap-projects .projects-header-wrap .projects-header {
  font-size: 2rem;
  color: #676a6c;
}
.main-container .section-wrap-projects .projects-wrap {
  display: flex;
  justify-content: center;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap img {
  background: #0f0101;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .business-wrap .buttons-wrap button:hover {
  cursor: pointer;
  background: #154079;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
  margin-top: 178px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .buttons-wrap button:hover {
  cursor: pointer;
  background: #154079;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap {
  color: grey;
  width: 291px;
  height: 244px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 6%;
  border-radius: 5px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .project-description {
  margin: 10px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap {
  margin: 10px 0 0 10px;
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap button {
  background: #2364b7;
  color: white;
  height: 24px;
  width: 52px;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.main-container .section-wrap-projects .projects-wrap .notes-wrap .buttons-wrap button:hover {
  cursor: pointer;
  background: #154079;
}
.main-container .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.main-container .footer .social-media-footer ul {
  display: flex;
  padding-right: 15px;
}
.main-container .footer .social-media-footer ul i {
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #3c6aad;
  color: white;
  width: 56%;
  height: 1.7rem;
  text-align: center;
  padding-top: 8px;
  margin: 20px;
}
.main-container .footer .social-media-footer ul i:hover {
  background-color: #527eaa;
}
@media (max-width: 1660px) {
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    margin: 0;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    margin: 0;
  }
}
@media (max-width: 1530px) {
  .main-container {
    transition: all 0.5s ease;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    margin: 2%;
  }
}
@media (max-width: 1346px) {
  .main-container {
    transition: all 0.5s ease;
  }
  .main-container .section-wrap-projects .projects-wrap {
    flex-wrap: wrap;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    margin: 6%;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    margin: 6%;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    margin: 6%;
  }
}
@media (max-width: 1170px) {
  .main-container {
    transition: all 1s ease;
  }
  .main-container nav ul li .home-button {
    left: 11%;
  }
}
@media (max-width: 1000px) {
  .main-container {
    transition: all 0.5s ease;
  }
  .main-container .skills-image {
    width: 90%;
    transition: all 1s ease;
  }
}
@media (max-width: 908px) {
  .main-container .container {
    transition: all 1s ease;
    margin-top: -50px;
  }
}
@media (max-width: 768px) {
  .main-container .section-wrap-bio .container .profile-image-wrap .fab {
    font-size: 50px;
    margin: 10% 27px 20%;
  }
  .main-container .projects-header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 96px;
  }
  .main-container .main-container .section-wrap-skills {
    height: 306px;
    width: 100%;
  }
  .main-container .section-wrap-projects {
    height: 1295px;
    width: 100%;
    padding: 40px 10% 0 0;
  }
  .main-container .section-wrap-projects .projects-header-wrap {
    padding-left: 5%;
  }
  .main-container .section-wrap-projects .projects-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap {
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .business-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap {
    margin-top: 0;
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .current-affairs-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap {
    color: grey;
    width: 291px;
    height: 254px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 6%;
    border-radius: 5px;
  }
  .main-container .section-wrap-projects .projects-wrap .notes-wrap .project-image {
    height: 152px;
    width: 291px;
  }
  .main-container p {
    font-size: 19px;
  }
  .main-container #flip {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .main-container #flip img {
    cursor: pointer;
  }
  .main-container #flip h4 {
    margin-left: 6px;
    font-size: 0.8rem;
  }
  .main-container #flip h4:hover {
    cursor: pointer;
  }
  .main-container #nav {
    width: 100%;
    height: 8%;
    margin-top: 40px;
    display: none;
  }
  .main-container nav {
    font-size: 17px;
  }
  .main-container nav ul li .home-button {
    display: none;
  }
}
@media (max-width: 414px) {
  .main-container nav ul {
    display: flex;
    justify-content: center;
  }
  .main-container .section-wrap-bio .container .bio p {
    width: 230px;
  }
  .main-container .section-wrap-bio .container .profile-image-wrap .fab {
    font-size: 35px;
    margin: 4% 9px 20%;
  }
  .main-container .section-wrap-bio .container .profile-image-wrap .profile-image {
    border-radius: 50%;
    height: 136px;
    width: 136px;
  }
  .main-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-container nav ul {
    font-size: 1rem;
    margin: 1.4rem 0.6rem 0.3rem 0;
  }
}
@media (max-width: 375px) {
  .main-container .main-container .profile-image-wrap {
    margin-right: 10%;
  }
  .main-container .container .profile-image-wrap {
    margin-right: 5%;
  }
  .main-container .container .profile-image {
    margin-top: -11px;
  }
  .main-container .container .bio {
    width: 81%;
  }
}
@media (max-width: 360px) {
  .main-container nav ul li {
    width: 24%;
  }
  .main-container .section-wrap-bio .container {
    margin-top: -58px;
  }
  .main-container .section-wrap-bio .container .bio {
    width: 354px;
    padding: 0 27px;
    text-align: center;
  }
  .main-container .section-wrap-bio .container .profile-image-wrap {
    margin-top: -16px;
    margin-left: -16px;
  }
  .main-container .section-wrap-bio .container .profile-image-wrap .fab {
    font-size: 29px;
  }
}
